<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: basicHeader('Reservations')}">
    <title>placeholder</title>
</head>
<body>
<div class="container">
    <nav th:replace="~{fragments/layout :: basicNav}" class="navbar"></nav>
    <h1 th:text="#{reservation.listpage.title}">Reservations</h1>
    <table class="table table-hover" aria-label="Reservations">
        <thead>
        <tr>
            <th scope="col" th:text="#{reservation.listpage.user}">User</th>
            <th scope="col" th:text="#{reservation.listpage.start}">Start</th>
            <th scope="col" th:text="#{reservation.listpage.end}">End</th>
            <th scope="col" th:text="#{reservation.listpage.vehicle}">Vehicle (licenceplate)</th>
            <th scope="col" th:text="#{reservation.listpage.parkingspot}">ParkingSpot</th>
        </tr>
        </thead>
        <tbody style="cursor:pointer">
        <tr th:each="r : ${reservations}" th:id="|row_${r.id}|" th:class="tr-reservations">
            <td>
                <a href="#" th:href="@{|/users/*{r.user?.id}|}" th:text="*{r.user?.name}"></a>
            </td>
            <td th:text="*{#temporals.format(r.start, 'dd-MM-yyyy HH:mm')}"></td>
            <td th:text="*{#temporals.format(r.end, 'dd-MM-yyyy HH:mm')}"></td>
            <td th:text="*{r.vehicle?.licencePlate}"></td>
            <td th:text="*{r.parkingSpot}"></td>
        </tr>
        </tbody>
    </table>
    <div>
        <a href="#" th:href="@{/reservations/new}" class="btn btn-primary"
           th:text="#{reservation.listpage.add.reservation}">Add Reservation</a>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
<script>
    const addRedirect = rowId => {
        // extract [id] from [row_id] with slice
        const reservationId = rowId.slice(4);
        const uri = `/reservations/${reservationId}`;
        const row = document.getElementById(rowId);
        const goto = uri => location.href = uri;
        row.addEventListener('click', () => goto(uri));
    }

    const reservationRows = document.querySelectorAll(".tr-reservations");
    reservationRows.forEach(row => addRedirect(row.id));
</script>
</body>
</html>
