<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: basicHeader('Users')}"><title>Placeholder</title></head>
<body>
<div class="container">
    <nav th:replace="~{fragments/layout :: basicNav}" class="navbar"></nav>
    <h1>Users</h1>
    <table class="table" aria-label="Users">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">E-mail</th>
        </tr>
        <tr th:each="user : ${users}">
            <td>
                <a href="#" th:text="*{user.name}" th:href="@{|/users/*{user.id}|}"></a>
            </td>
            <td th:text="*{user.email}"></td>
        </tr>
    </table>
    <div>
        <a href="#" th:href="@{/users/new}" class="btn btn-primary">Add User</a>
    </div>
</div>
<script th:replace="fragments/layout :: bootstrapJS"></script>
</body>
</html>
