<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="starter-template text-center py-3 px-3">
    <img th:src="@{/img/quickLogo.png}" width=40% alt="" loading="lazy">
    <div class="row">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a title="Spring IO" href="http://www.spring.io"> <img
                            src="/resources/images/spring-trans-dark.png" height="50" />
                    </a>
                </div>
                <div>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="http://www.pivotal.io"> <img alt="Pivotal"
                                                                  title="Pivotal" height="20"
                                                                  src="/resources/images/pivotal-logo-600.png" />
                        </a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="row">

        <h1>Access Denied</h1>

        <p>Sorry, Access Denied</p>
        <p><a href="/" class="btn btn-link">Return to Home Page</a></p>
        <div>
            {{#principal}}
            <form action="/logout" method="post" class="form-horizontal">
                <fieldset>
                    <input type="submit" value="Logout" class="btn btn-link" />
                    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                    ({{principal.username}})
                </fieldset>
            </form>
            {{/principal}}
        </div>

    </div>


</div>

</body>
</html>