<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{/styles/css/main.css}" rel="stylesheet"/>
    <title>Create ParkingZone form</title>
</head>
<header><img th:src="@{/img/quickLogo.png}" alt=""> </header>
<body>
<div>
    <h1>Create a new DriveDok Zone for your Parking Spots</h1>
    <form action="#" th:action="@{/parkingzone/create}" th:object="${parkingZone}" method="post">
        <input type="hidden" th:field="*{id}">
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
        <input type="text" th:field="*{name} " placeholder="Enter a name for your new DriveDok Zone"/>
        <p>How many Parking Spots does the Zone have?
        <p th:if="${#fields.hasErrors('totalParkingSpots')}" th:errors="*{totalParkingSpots}"></p>
            <input type="text" th:field="*{totalParkingSpots}"/></p>
        <p>
            <input type="submit" value="Create the zone"/>
        </p>
    </form>
</div>
</body>
</html>