<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: basicHeader('Ooops...')}">
    <title></title>
</head>
<body>
<div class="container">
    <nav th:replace="~{fragments/layout :: basicNav(${error})}"></nav>
    <h2 th:text="|${status} ${error} ${message}|"></h2>
    <div th:if="${exception !=null}">
        <p class="lead" th:text="${exception}">filler</p>
    </div>
    <div th:if="${trace !=null}">
        <p th:text="${trace}">filler</p>
    </div>
</div>
<script th:replace="~{fragments/layout :: bootstrapJS}"></script>
</body>
</html>
