<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{/styles/css/main.css}" rel="stylesheet"/>
    <title>Homepage</title>
</head>
<body>
<header><img th:src="@{/img/quickLogo.png}" alt=""></header>
<div>
    <h2>Welcome Administrator Bert,</h2>

    <div><p>
        Your DriveDok Zones
        <br><br>
    </div>
    <div th:if="${parkingzones != null and !parkingzones.empty}">
<!--        <form action="">-->
            <table>
                <tbody>
                <div th:each="zone : ${parkingzones}">

                    <a th:href="@{/parkingzone/{id}(id=${zone.id})}">
                        <span th:text="${zone.name}"></span>
                    </a>
                    <a th:href="@{/parkingzone/{id}(id=${zone.id})}">
                        <span th:text="${zone.totalParkingSpots}"></span>
                    </a>
                </div>
                </tbody>
            </table>
            <br><br>
<!--        </form>-->
    </div>
    <div th:if="${parkingzones == null or parkingzones.empty}">
        <p>You have no DriveDok Zones yet</p>
        <br><br>
    </div>
    <button onclick="location.href='/parkingzone/create'">Create a new DriveDok Zone</button>
</div>
</body>
</html>