<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Add Vehicle</title>
</head>
<body>
<div class="container">
    <h1>Add Vehicle</h1>
    <div th:if="${null == user}" th:text="to be implemented..."></div>
    <div th:unless="${null == user}">
        <form action="#"
              th:action="@{/users/{id}/vehicles (id = ${user.id})}"
              th:object="${vehicle}"
              method="post"
              id="savevehicleform">
            <div th:if="${#fields.hasAnyErrors()}">
                <p th:each="err : ${#fields.allErrors()}" th:text="${err}" class="alert alert-danger"></p>
            </div>
            <div class="mb-3">
                <label for="vehicleName" class="form-label">Name</label>
                <input type="text" class="form-control" id="vehicleName" th:field="*{name}">
            </div>
            <div class="mb-3">
                <label for="vehicleLicencePlate" class="form-label">Licence plate</label>
                <input type="text" class="form-control" id="vehicleLicencePlate" th:field="*{licencePlate}">
            </div>
            <div class="mb-3">
                <label for="vehicleParkingType" class="form-label">Parking type</label>
                <select id="vehicleParkingType" class="form-select" th:field="*{parkingType}">
                    <option th:each="type : ${parkingTypes}" th:value="${type}"
                            th:text="${type.toString()}"></option>
                </select>
            </div>
        </form>
        <form th:unless="${null == vehicle.id}"
              th:object="${vehicle}"
              action="#"
              th:action="@{/vehicles/{id} (id = *{id})}"
              method="post"
              th:method="delete"
              id="deletevehicleform"></form>
        <button form="savevehicleform" type="submit" class="btn btn-primary">Save</button>
        <button form="savevehicleform" type="reset" class="btn btn-warning">Reset</button>
        <button th:disabled="${null == vehicle.id ?: false}"
                type="submit"
                form="deletevehicleform"
                class="btn btn-danger">
            Delete
        </button>
        <div>
            <a href="#" th:href="@{/users/{id} (id = ${user.id})}">Back to User</a>
            <a href="#" th:href="@{/vehicles}">Back to Vehicles</a>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>
</html>