<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <title th:text="|PZ ${zoneDto.name} |">Zone</title>
</head>
<body class="d-flex h-100 text-center">
<div class="container">
    <nav th:replace="~{fragments/layout :: basicNav(|PZ ${zoneDto.name}|)}" class="navbar"></nav>
    <section class="album py-3 bg-light" th:object="${zoneDto}">
        <div>
            <p th:text="#{zone.edit.page.msg(*{name}, *{totalParkingSpots})}"></p>
        </div>
        <form action="#"
              th:action="@{/zones/update}"
              th:object="${zoneDto}"
              method="post"
              id="update-parkingspots-form">
            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{name}">
            <input type="hidden" th:field="*{parkingSpots}">
            <input type="hidden" th:field="*{totalParkingSpots}" th:id="myTotalParkingSpots">

            <div type="text" th:id="myMessage"></div>

            <th:block th:each="spot,i : ${zoneDto.parkingSpots}">
                <input type="hidden" th:field="*{parkingSpots[__${i.index}__].id}"/><br/>
                <input type="text" th:field="*{parkingSpots[__${i.index}__].parkingType}"/><br/>
                <input type="text" th:field="*{parkingSpots[__${i.index}__].quantity}" th:id="${spot.parkingType}"
                       th:if="${spot.parkingType == T(nl.conspect.drivedok.model.ParkingType).NORMAL}"
                       readonly="readonly"/>
                <input type="text" th:field="*{parkingSpots[__${i.index}__].quantity}" th:id="${spot.parkingType}"
                       th:if="${spot.parkingType != T(nl.conspect.drivedok.model.ParkingType).NORMAL}"/>
            </th:block>
        </form>
        <div class="album py-3 bg-light">
            <button class="btn btn-primary" th:text="#{btn.update}" form="update-parkingspots-form" type="submit">
                Update
            </button>
            <button class="btn btn-dark" onclick="location.href='/zones'" th:text="#{btn.return}">
                Go to overview
            </button>
        </div>

        <script th:inline="javascript">
        /*<![CDATA[*/
            let normal ;
            let prev;
            let current;
            let temp;
            let myTotal = document.getElementById("myTotalParkingSpots").value;

            $(document)
            .on('focusin', 'input', function(){
                $(this).data('val', $(this).val());
                normal =   parseInt(document.getElementById("NORMAL").value);
                prev = $(this).val();
            })
            .on('change','input', function(){
                current = $(this).val();
                temp = normal-(current - prev);
                if (temp >= 0 && current > 0 ){
                    document.getElementById("NORMAL").value = normal-(current - prev);
                    $(this).data('val', current);
                    prev = $(this).val();
                    document.getElementById("myMessage").innerHTML = "";
               }
               else{
                    normal =   parseInt(document.getElementById("NORMAL").value);
                    document.getElementById("DISABLED").value = 0;
                    document.getElementById("ELECTRIC").value = 0;
                    document.getElementById("MOTOR").value = 0;
                    document.getElementById("NORMAL").value = myTotal;
                    document.getElementById("myMessage").innerHTML = "Please use valid numbers";
                    prev = current;
               }
            });
            /*]]>*/
        </script>
    </section>
</div>
<script th:replace="~{fragments/layout :: bootstrapJS}"></script>
</body>
</html>
