<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: basicHeader(#{vehicle.plural})}"><title>Vehicles</title></head>
<body>
<div class="container">
    <nav th:replace="~{fragments/layout :: basicNav(#{vehicle.plural})}" class="navbar"></nav>
    <table class="table" aria-label="Vehicles">
        <tr>
            <th scope="col" th:text="#{name}">Name</th>
            <th scope="col" th:text="#{vehicle.licence}">Licence Plate</th>
            <th scope="col" th:text="#{vehicle.parking.type}">Parking Type</th>
            <th scope="col" th:text="#{user.singular}">User</th>
        </tr>
        <tr th:each="vehicle : ${vehicles}">
            <td>
                <a href="#" th:text="*{vehicle.name}" th:href="@{|/vehicles/*{vehicle.id}|}"></a>
            </td>
            <td th:text="*{vehicle.licencePlate}"></td>
            <td th:text="*{vehicle.parkingType}"></td>
            <td>
                <a href="#"  th:text="*{vehicle.user.name}" th:href="@{|/users/*{vehicle.user.id}|}"></a>
            </td>
        </tr>
    </table>
</div>
<script th:replace="fragments/layout :: bootstrapJS"></script>
</body>
</html>