<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: basicHeader('Vehicle')}"><title>Vehicle</title></head>
<body>
<div class="container">
    <nav th:replace="~{fragments/layout :: basicNav}" class="navbar"></nav>
    <h1>Add Vehicle</h1>
    <div th:unless="${null == user}">
        <form action="#"
              th:action="@{/users/{id}/vehicles (id = ${user.id})}"
              th:object="${vehicle}"
              method="post"
              id="savevehicleform">
            <div th:if="${#fields.hasAnyErrors()}">
                <p th:each="err : ${#fields.allErrors()}" th:text="${err}" class="alert alert-danger"></p>
            </div>
            <div class="mb-3">
                <label for="vehicleName" class="form-label">Name</label>
                <input type="text" class="form-control" id="vehicleName" th:field="*{name}">
            </div>
            <div class="mb-3">
                <label for="vehicleLicencePlate" class="form-label">Licence plate</label>
                <input type="text" class="form-control" id="vehicleLicencePlate" th:field="*{licencePlate}">
            </div>
            <div class="mb-3">
                <label for="vehicleParkingType" class="form-label">Parking type</label>
                <select id="vehicleParkingType" class="form-select" th:field="*{parkingType}">
                    <option th:each="type : ${parkingTypes}" th:value="${type}"
                            th:text="${type.toString()}"></option>
                </select>
            </div>
        </form>
        <form th:unless="${null == vehicle.id}"
              th:object="${vehicle}"
              action="#"
              th:action="@{/vehicles/{id} (id = *{id})}"
              method="post"
              th:method="delete"
              id="deletevehicleform"></form>
        <button form="savevehicleform" type="submit" class="btn btn-primary">Save</button>
        <button form="savevehicleform" type="reset" class="btn btn-warning">Reset</button>
        <button th:disabled="${null == vehicle.id ?: false}"
                type="submit"
                form="deletevehicleform"
                class="btn btn-danger">
            Delete
        </button>
        <div>
            <a href="#" th:href="@{/users/{id} (id = ${user.id})}">Back to User</a>
            <a href="#" th:href="@{/vehicles}">Back to Vehicles</a>
        </div>
    </div>
</div>
<script th:replace="fragments/layout :: bootstrapJS"></script>
</body>
</html>